h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.navbar-monbg {
    background-color: #000;
}

.monbg {
    background-color: rgb(164, 240, 240);
}

.nav-link {
    color: #fff!important;
}

.nav-link:hover {
    color: deeppink!important;
}

.btn-dark:hover {
    color:rgb(234, 255, 0);
}

th {
    border-bottom: 5px solid deeppink!important;
}

input, select {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid deeppink;
}